{% load static %}

<footer class="page-footer font-small stylish-color-dark pt-4">

  <div class="container text-center text-md-left">

    <div class="row">

      <div class="col-md-4 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pin Vengan</h5>
        <p>Your trusted partner for exporting premium Thai produce. We are dedicated to delivering freshness and quality
          from our farms to your doorstep, anywhere in the world.</p>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Products</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Fruits</a>
          </li>
          <li>
            <a href="#!">Vegetables</a>
          </li>
          <li>
            <a href="#!">Thai Herbs</a>
          </li>
          <li>
            <a href="#!">Rice</a>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Shipment Tracking</a>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <i class="fas fa-home mr-3"></i>Bangkok,Thailand
          </li>
          <li>
            <i class="fas fa-envelope mr-3"></i>info@pinvenganex.com
          </li>
          <li>
            <i class="fas fa-phone mr-3"></i>+66647973001
          </li>
        </ul>

      </div>
    </div>
  </div>
  <hr>

  <div class="footer-copyright text-center py-3">© 2025 Copyright:
    <a href="#"> PinVenganex.com</a>
  </div>
</footer>